<div class='navbar-fixed'>
	<nav>
		<div class="nav-wrapper">
			<a ui-sref="searcher" style="text-decoration: none; list-items: none;"><i class="glyphicon glyphicon-search"></i>YouTube</a>
			 <ul class="right hide-on-med-and-down">
				 <li><a ui-sref="movies" style="text-decoration: none; list-items: none;"><i class="glyphicon glyphicon-facetime-video"></i></a></li>
				 <li><a ui-sref="trends" style="text-decoration: none; list-items: none;"><i class="glyphicon glyphicon-th"></i></a></li>
			 </ul>
		</div>
	</nav>
</div>
