<div class="pageToken">
	<div class="tokens container">
		<div class="row" ng-click='hide-button'>
			<div class="col-md-offset-1  col-xs-2" >
				<a ng-click="moveTokenPage(prevToken)" class="btn-floating btn-large waves-effect waves-light red accent-4 token-prev"><i class="glyphicon glyphicon-menu-left"></i></a>
			</div>
			<div class="col-md-offset-10 col-xs-offset-10">
				<a ng-click="moveTokenPage(nextToken)" class="btn-floating btn-large waves-effect waves-light red accent-4 token-next"><i class="glyphicon glyphicon-menu-right"></i></a>
			</div>
		</div>
	</div>
</div>
