<div class="container-fluid">
	<form ng-submit="getMovieData(searchResults)">
		<input class="searchbar col-md-12 col-sm-12" type="text" ng-model="searchResults" placeholder="Search Movies...">
			<div ng-repeat="youtubes in youtube">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a class="youtube" style="text-decoration:none;"  href="{{watchUrl + youtubes.id.videoId}}">
						<img class="card-panel hoverable" ng-src="{{youtubes.snippet.thumbnails.high.url}}" alt="">
					</a>
					<a class="youtube" style="text-decoration:none;" href="{{watchUrl + youtubes.id.videoId}}">
						<p class="title">{{youtubes.snippet.title}}</p>
						<small>{{youtubes.snippet.channelTitle}}</small>
					</a>
				</div>
			</div>
			<token-token ng-hide="showToken"></token-token>
	</form>
</div>
