<header ng-include="'logo.html'"></header>
	<div class="container-fluid">
		<div class='row'>
			<div ng-repeat="trends in trendingYt">
				<div class="col-md-4">
					<a class="youtube" style="text-decoration:none;" href="{{watchUrl + trends.id.videoId}}">
						<img class="card-panel hoverable" ng-src="{{trends.snippet.thumbnails.high.url}}" alt="">
					</a>
					<a class="youtube" style="text-decoration:none;"  href="{{watchUrl + trends.id}}">
						<p class="title">{{trends.snippet.title}}</p>
						<h4 class="channel-title"><small>Uploaded by: </small>{{trends.snippet.channelTitle}}</h4>
					</a>
					<!-- <h1>{{trends.snippet.title}}</h1> -->
				</div>
			</div>
		</div>
	</div>
